.ResultItem {
	display: grid;
	align-items: center;
	grid-auto-flow: column;
	grid-template-columns: min-content 1fr;
	gap: 2rem;
	box-shadow: var(--shadow-light);
	border-radius:8px;
	padding: 1rem;
	margin: 1rem 0;
}

.ResultItem__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
}

.ResultItem svg {
	width: 1.5rem;
}

.ResultItem__icon--success path {
	fill: var(--color-green);
}

.ResultItem__icon--error path {
	fill: var(--color-red);
}

.ResultItem__content {
	display: grid;
	gap: 1rem;
	color: var(--color-grey-dark-2);
}

.ResultItem__content p:nth-child(2){
	color: var(--color-red);
}