.App {
	position: relative;
	background-color: var(--color-grey-light-1);
	border-radius: .5rem;
	box-shadow: var(--shadow-dark);
	padding: 3rem;
	width: 40rem;
	height: 50rem;
}

.App > div {
	height: 100%;
}