* {
	margin: 0px;
	padding: 0px;
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	box-sizing: border-box
}


html {
	font-size: 62.5%;
}

body {
	overflow: hidden;
	font-family: "Montserrat";
	font-weight: 500
}

:root {
	--color-primary: #a80038;
	--color-primary-light: #ca0043;
	--color-primary-dark: #222831;

	--color-white: #ffffff;
	--color-black: #000000;

	--color-grey-light-1: #faf9f9;
	--color-grey-light-2: #ccc;
	--color-grey: #999;
	--color-grey-dark-1: #777;
	--color-grey-dark-2: #333;

	--shadow-light: 0 2rem 5rem rgba(0, 0 ,0, .1);
}

input {
	font-family: "Montserrat" !important;
}
	

@font-face {
	font-family: 'Montserrat';
	src: url(./assets/fonts/montserrat/Montserrat-Regular.ttf) format('truetype');
	font-style: normal;
	font-weight: 400
}
	

@font-face {
	font-family: 'Montserrat';
	src: url(./assets/fonts/montserrat/Montserrat-Medium.ttf) format('truetype');
	font-style: normal;
	font-weight: 500
}

@font-face {
	font-family: 'Montserrat';
	src: url(./assets/fonts/montserrat/Montserrat-SemiBold.ttf) format('truetype');
	font-style: normal;
	font-weight: 600
}

@font-face {
	font-family: 'Montserrat';
	src: url(./assets/fonts/montserrat/Montserrat-Bold.ttf) format('truetype');
	font-style: normal;
	font-weight: 700
}